html, body {
    margin: 0;
    background: #141726;
    font-family: 'Gotham Pro', Regular;
    font-size: 20px;
}

h1 {
    font-size: 78px;
    color:dimgray;
    padding-bottom: 40px;
    padding-left: 20px;
    margin: 0;
    font-family: 'Gotham Pro';
}

.container{
    width:100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    padding-left: 80px;
}

.container_menu{
    width:100%;
    margin: 0;
}

.container_inner{
    margin:0;
    display: flex; 
    flex-direction: row; 
}

.header{
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 30px;
    padding-right: 110px;
    height: 100px;
}

.header__logo{
    background-image: url('../src/img/redium_logo.svg');
    background-repeat: no-repeat;    
    height: 37px;
    width: 170px;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

.StyleRouterMenu{
    float: left;
    margin-left: 0;
    padding-top: 150px;
}

.StyleRoterView{
    display: flex; 
    float: right; 
    width: 60%;
    background: #E8EAF1;
    vertical-align: center;
    font-size: 18px;
    margin-left: auto;
    margin-right: 0;
}

.nav-link{
    display: inline-block;
    vertical-align: top;
    color: #FFFFFF;
    text-decoration: none;
    transition: color .2s linear;
}


.nav-link:hover{
    color: #FF8C5A;
}

.footer{
}
